<form [formGroup]="parentform" class="p-2" [ngClass]="{'invalid': valid}">
    <div class="form-group">
        <label [for]="id" *ngIf="label !== ''">{{label}}</label>
        <select class="form-control" [id]="id" (change)="change($event)" [formControlName]="controlName">
            <option [value]="valueDefault()" disabled>Seleccione {{label}}</option>
            <option *ngFor="let dato of datos" [ngValue]="getId(dato)">{{getDescripcion(dato)}}</option>
        </select>
        <div *ngIf="valid" class="invalid-feedback-per">
            <div *ngIf="control.errors.required">{{label +' ' + msgRequired}}</div>
        </div>
    </div>
</form>