<form [formGroup]="parentform" class="p-2" [ngClass]="{'invalid': valid}">
    <label *ngIf="label !== '' && type !== 'checkbox' ">{{label}}</label>

    <input autocomplete="off" *ngIf="type !== 'textarea' && type !== 'file' && type !== 'checkbox' && type !== 'date' && type !== 'time' "
        [formControlName]="controlName" [maxlength]="maxlength" [onlyNumbers]="soloNumeros"
        [upperCase]="mayusculas"
        placeholder="Debe digitar {{label}}" [type]="type" class="form-control " [id]="id">

    <input autocomplete="off" *ngIf="type === 'date' || type === 'time' "
        [formControlName]="controlName" 
        placeholder="Debe digitar {{label}}" [type]="type" class="form-control " useValueAsDate [id]="id">

    <div *ngIf="type == 'checkbox'">
        <input type="checkbox" [id]="id" class="form-check-input" [formControlName]="controlName"
            [ngClass]="{ 'is-invalid': valid }" />
        <label [for]="control" class="form-check-label">{{label}}</label>
    </div>
    <div *ngIf="type == 'file'">
        <div class="custom-file">
            <input autocomplete="off" *ngIf="false" [formControlName]="controlName" [maxlength]="maxlength"
                [onlyNumbers]="soloNumeros" [placeholder]="label" type="text" class="form-control ">
            <input class="custom-file-input" [id]="id" type="file" [accept]="accept" (change)="onFileChange($event)">
            <label class="custom-file-label" for="inputGroupFile01">{{fileNameseleccionado}}</label>
        </div>
    </div>
    <textarea [id]="id" class="form-control" *ngIf="type == 'textarea'" [formControlName]="controlName"
        [maxlength]="maxlength" class="form-control classInput"></textarea>
    <div *ngIf="valid" class="invalid-feedback-per">
        <div *ngIf="control.errors.required">{{label +' ' + msgRequired}}</div>
        <div *ngIf="control.errors.minDateValidator">{{label}} minima {{control.errors.minimo | date:'EEEE, MMMM d, y'}}
        </div>
        <div *ngIf="control.errors.minlength">{{label +msgMinLength + control.errors.minlength.requiredLength}}</div>
        <div *ngIf="control.errors.maxlength">{{label +msgMaxLength + maxlength}}</div>
    </div>
</form>