<form class="pb-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center align-items-center p-4 m-3">
        <div class="col-sm-12 col-lg-4 border border-primary ">
            <div class="row justify-content-center align-items-center">
                <h1>Calculator</h1>
            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-12">
                    <app-form-input label="Identificación del técnico" maxlength="20" [soloNumeros]="false" type="text"
                        controlName="IdTecnico" [submitted]="submitted" id="txtIdTec"></app-form-input>
                </div>
            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-12">
                    <app-form-input label="Identificación del Servicio" maxlength="20" [soloNumeros]="false" type="text"
                        controlName="IdServicio" [submitted]="submitted" id="txtIdSer"></app-form-input>
                </div>
            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-12">
                    <app-form-input label="Fecha Inicio" type="datetime-local" controlName="FechaI"
                        [submitted]="submitted" id="txtFechaI"></app-form-input>
                </div>
            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-12">
                    <app-form-input label="Fecha Fin" type="datetime-local" controlName="FechaF" [submitted]="submitted"
                        id="txtFechaF"></app-form-input>
                </div>
                <div *ngIf="form.invalid" class="invalid-feedback-per row justify-content-center align-items-center">
                    <div class="p-2" *ngIf="form.errors && form.errors.invalidFecha">La fecha fin debe ser mayor que la fecha inicio</div> 
                </div> 
            </div>
            <div class="row justify-content-center align-items-center p-2">
                <div class="col-sm-12 col-lg-6">
                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</form>