.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(38, 143, 255, 0.5);;
    z-index: 50000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.logo-loading {
    width: 75px;
    height: 75px;
}