<div *ngIf="isVisible == true" class="loading">
    <div class=" ">
        <div class="row justify-content-center ">
            <img class="logo-loading" src="/assets/img/logo.png">
        </div>
        <div class="row justify-content-center m-3">
            <h1>Cargando</h1>
        </div>
        <div class="row justify-content-center text-primary">
            <div class="spinner-border" role="status">
            </div>
        </div>
    </div>
</div>